*{
    margin: 0;
    padding: 0;
}
/* index--------------------------------------------------------------------------- */
.index {
 home
    background-color: darkslategray;
   

 main
    box-shadow: 0 0 3rem 0 rgba(1, 0, 0, 1);
    color:white;
    text-align: center;
    margin-top: 15%;
 home
    font-size: 150px;
    margin-left:22%;
    width: 50%;
  }


    font-size: 150px
}
main
/* -------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* --------------------------------------------------------------------------- */

.body1 {
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
 home
 image {
    backdrop-filter: 0.3%;
 }
body {
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    background-color: darkgray;


body {
    background-repeat: no-repeat;
    background-size: cover;

    
}

.about {
 main
    width: 40%;
    box-shadow: 0 0 4rem 0 rgba(1, 0, 0.5, 1);
    text-align: center;
    margin-left: 33%;
    color: black;
}

.btn {
    margin-top: 20px;
    margin-left: 20px;
 home
} 

}
 main
footer {
    width: 100%;
    background-color: black;
    height: 5%;
    color: white;
    bottom: 0;
    position:fixed;
    margin-bottom: 0;
    text-align: center;
}
